Reading and Writing Data in Text Format

In [1]:
import pandas as pd
df = pd.read_csv('class5.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte

In [ ]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
pd.read_table('class5.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
!cat class5.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [ ]:
pd.read_csv('class5_1.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [ ]:
pd.read_csv('class5_1.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('class5_1.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [ ]:
parsed = pd.read_csv('class5_2.csv', index_col=['key1', 'key2'])

In [ ]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [ ]:
list(open('class5_2.csv'))

['key1,key2,value1,value2\n',
 'one,a,1,2\n',
 'one,b,3,4\n',
 'one,c,5,6\n',
 'one,d,7,8\n',
 'two,a,9,10\n',
 'two,b,11,12\n',
 'two,c,13,14\n',
 'two,d,15,16']

In [ ]:
result = pd.read_csv('class5_3.csv', skiprows=[0, 2, 3])
result

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
result = pd.read_csv('class5_4.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [ ]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [ ]:
result = pd.read_csv('class5_4.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [ ]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('class5_4.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

Writing Data to Text Format

In [ ]:
data = pd.read_csv('class5_4.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [ ]:
data.to_csv('out.csv')
!cat out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [ ]:
import sys
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [ ]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [ ]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [ ]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

Working with Delimited Formats

In [ ]:
import csv
f = open('delimited.csv')
reader = csv.reader(f)
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [ ]:
with open('delimited.csv') as f:
    lines = list(csv.reader(f))
header, values = lines[0], lines[1:]
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

Binary Data Formats

In [ ]:
frame = pd.read_csv('class5.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
frame.to_pickle('class5.csv')

In [ ]:
pd.read_pickle('class5.csv')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Reading Microsoft Excel Files

In [2]:
xlsx = pd.ExcelFile('class6.xlsx')

In [6]:
pd.read_excel(xlsx, 'class6')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
frame = pd.read_excel('class6.xlsx')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Interacting with Web APIs

In [ ]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [ ]:
data = resp.json()
data[0]['title']

"ENH: Allow to_json for DataFrame combine orient='values' with lines=True"

In [ ]:
issues = pd.DataFrame(data, columns=['number', 'title', 'labels', 'state'])
issues

,number,title,labels,state
0,56304,ENH: Allow to_json for DataFrame combine orien...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
1,56303,ENH: Remove for loop from DataFrame.update(),[],open
2,56302,BUG: Pandas verbosely prints CSV contents,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
3,56301,About the internationalization of documentation,[],open
4,56300,DOC: Adjust whatsnew,[],open
5,56299,Restructure offset deprecation whatsnew,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
6,56298,DOC: Start migration guide for Copy-on-Write,[],open
7,56297,CoW: Warn for replace,"[{'id': 2085877452, 'node_id': 'MDU6TGFiZWwyMD...",open
8,56296,Add pot files for translating pandas documenta...,[],open
9,56295,Assort IWYU Cleanups,[],open
10,56294,"BUG: Series(strings, dtype=ArrowDtype[timestam...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
11,56292,BUG: test_orc segfault when missing /usr/share...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
12,56291,ENH: Make get_dummies return ea booleans for e...,[],open
13,56290,Convert ArrowExtensionArray to proper NumPy dtype,"[{'id': 3303158446, 'node_id': 'MDU6TGFiZWwzMz...",open
14,56289,CoW: Add warnings for interpolate,"[{'id': 2085877452, 'node_id': 'MDU6TGFiZWwyMD...",open
15,56288,CoW: Add warning for fillna,"[{'id': 76865106, 'node_id': 'MDU6TGFiZWw3Njg2...",open
16,56286,DOC: Explicit how 'cond' is updated on 'where',[],open
17,56285,BUG: `np.log` fails with missing pyarrow values,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
18,56284,Allow c files in src/include for gitignore,[],open
19,56283,BUG: `.style.bar` doesn't work with missing py...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
20,56282,BUG: Pyarrow backend fails to export index wit...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
21,56281,BUG: Fix `Timestamp('now')` and `Timestamp.now...,[],open
22,56279,BUG: Incorrect stack traceback when try except...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
23,56278,DOC: Added documentation for codes,[],open
24,56277,Add Werror to CI,[],open
25,56273,BUG: `pd.get_dummies` should return `bool[pyar...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
26,56272,BUG: `.idxmax` returns legacy strings for pyar...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
27,56271,BUG: `.str.split()` fails with pyarrow strings,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,56268,BUG: `str.extract` Method Not Implemented for ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
29,56267,`.interpolate()` Method Incompatible with `flo...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open